doctype html
html
	head
		title Dashboard :: Home
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='stylesheets/style.css')
	body
		.login.well
			h1 Wellcome!!
			p more coming soon
			a(href="logout") Logout
		script(src='//code.jquery.com/jquery-1.9.1.min.js')