doctype html
html
	head
		title Dashboard :: Home
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='stylesheets/style.css')
	body
		.login.well
			img(src='images/appbox.jpg')
			h2 Wellcome!!
			p more coming soon
			a(href='https://docs.google.com/document/d/1AzS1uF8Q9vfYAfygL6JIpYR57XYL_ErqqhivZ2EYKCg/edit?usp=sharing') Google drive document
			a(href='https://github.com/lgargantini/dashboard') Github
			a(href="logout") Logout
		script(src='//code.jquery.com/jquery-1.9.1.min.js')