doctype html
html
	head
		title Dashboard :: Logout
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='stylesheets/style.css')
	body
		.logout.well
			h1 Thanks for choosing us
			include messages
			hr
			
		script(src='//code.jquery.com/jquery-1.9.1.min.js')
		
	